NTURGB-D/ST-GCN/data/nturgb+d_skeletons
NTURGB-D/ST-GCN/data/*.zip
NTURGB-D/ST-GCN/data/xsub
NTURGB-D/ST-GCN/data/xview

UAV-Human/__pycache__
UAV-Human/data/*.zip
UAV-Human/data/v1
UAV-Human/data/v2
UAV-Human/data/Skeleton
UAV-Human/pose_data_tools/__pycache__

NW-UCLA/data/*.zip
NW-UCLA/data/all_sqe
NW-UCLA/data/npy

MIMII/data/*.zip
MIMII/data/*.pkl
MIMII/data/6dB
MIMII/data/0dB
MIMII/data/-6dB

SHL-2024/data/*.7z
SHL-2024/data/raw_data
SHL-2024/data/npy_data
SHL-2024/data/fft_data